---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}FayMay International Fans{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}This is an unofficial fansite intending to promote Thai actresses FayMay (เฟย์เมษ์), Fay (เฟย์ กัญญาพัชร ณ นคร) and May (เมษ์ ญดา วัชระมูสิก).{% endif %}</p>
          <p class="author_subtitle">This fansite is maintained by the efforts of international fans.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>