
<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="footer-content">
				<div class="person-socials left">
					<img src="assets/images/fay.jpg" alt="Person 1" class="profile-pic">
					<div class="social-icons">
						<a href="https://x.com/Fay_riezz" class="icon alt fa-twitter" target="_blank" rel="noopener noreferrer" aria-label="Twitter"></a>
						<a href="https://www.instagram.com/fay_riezz/" class="icon alt fa-instagram" target="_blank" rel="noopener noreferrer" aria-label="Instagram"></a>
						<a href="https://www.tiktok.com/@fay_riezz" class="icon alt fa-tiktok" target="_blank" rel="noopener noreferrer" aria-label="TikTok"></a>
					</div>
				</div>
				<div class="copyright">
					<p>&copy; {{ site.title }} {{ site.subtitle }}</p>
					<p>All rights reserved.</p>
				</div>
				
				<div class="person-socials right">
					<img src="assets/images/may.jpg" alt="Person 2" class="profile-pic">
					<div class="social-icons">
						<a href="https://x.com/maywyda" class="icon alt fa-twitter" target="_blank" rel="noopener noreferrer" aria-label="Twitter"></a>
						<a href="https://www.instagram.com/maywyda/" class="icon alt fa-instagram" target="_blank" rel="noopener noreferrer" aria-label="Instagram"></a>
						<a href="https://www.tiktok.com/@maywyda" class="icon alt fa-tiktok" target="_blank" rel="noopener noreferrer" aria-label="TikTok"></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<style>
		#footer .inner {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2em 0;
		}
		
		.footer-content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
		
		.person-socials {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		.profile-pic {
			width: 80px;
			height: 80px;
			border-radius: 50%;
			object-fit: cover;
			margin-bottom: 1em;
		}
		
		.social-icons {
			display: flex;
			gap: 1em;
		}
		
		.copyright {
			text-align: center;
		}
		
		@media screen and (max-width: 736px) {
			.footer-content {
				flex-direction: column;
				gap: 2em;
			}
		}
		</style>
<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
