<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
        <a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
        <nav>
            <a href="#menu">Menu</a>
            <!-- Language Selector inside an <a> tag for consistent styling -->
            <a style="margin-right: 20px; position: relative;">
                <select id="languageSelector" onchange="translateContent()" style="appearance: none; background: none; border: none; font-size: inherit; color: inherit; cursor: pointer; text-transform: uppercase; line-height: inherit;">
                    <option value="en">English</option>
                    <option value="zh-Hans">Chinese</option>
                    <option value="ja">Japanese</option>
                    <option value="ko">Korean</option>
                    <option value="th">Thai</option>
                    <option value="vi">Vietnamese</option>
                    <!-- Add more languages as needed -->
                </select>
            </a>
        </nav>        
    </header>
    
    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            {% for page in site.pages %}
                {% if page.layout == "home" %}
                    <li><a href="{{ "" | absolute_url }}/">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
            {% for page in site.html_pages %}
                {% if page.layout != "home" and page.nav-menu == true %}
                    <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</div>

<!-- Microsoft Translator Script -->
<script>
	async function translateContent() {
		const textToTranslate = document.getElementById('content').innerText;
		const targetLanguage = document.getElementById('languageSelector').value;

		const subscriptionKey = 'dcba413c0a7743da9c0cbb477ae98349';  // Replace with your actual subscription key
		const endpoint = 'https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&to=' + targetLanguage; // Full URL with parameters

		try {
			const response = await fetch(endpoint, {
				method: 'POST',
				headers: {
					'Ocp-Apim-Subscription-Key': subscriptionKey,
					'Content-Type': 'application/json'
				},
				body: JSON.stringify([{ Text: textToTranslate }])
			});

			if (response.ok) {
				const data = await response.json();
				document.getElementById('content').innerText = data[0].translations[0].text;
			} else {
				console.error('Translation request failed', response.status, response.statusText);
			}
		} catch (error) {
			console.error('Error translating content:', error);
		}
	}

</script>
