<ul class="social_footer">
  <!-- Fay Social Media -->
  <li class="social_group">
    <strong>Fay:</strong>
    {% if site.fay_twitter %}
      <a href="{{ site.fay_twitter }}" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.fay_instagram %}
      <a href="{{ site.fay_instagram }}" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.fay_tiktok %}
      <a href="{{ site.fay_tiktok }}" target="_blank"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a>
    {% endif %}
  </li>

  <!-- May Social Media -->
  <li class="social_group">
    <strong>May:</strong>
    {% if site.may_twitter %}
      <a href="{{ site.may_twitter }}" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.may_instagram %}
      <a href="{{ site.may_instagram }}" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
    {% endif %}
    {% if site.may_tiktok %}
      <a href="{{ site.may_tiktok }}" target="_blank"><i class="fa-brands fa-tiktok" aria-hidden="true"></i></a>
    {% endif %}
  </li>
</ul>
