<ul class="social_footer">
  <!-- Fay Social Media -->
  <li class="social_group"><strong>Fay:</strong></li>
  {% if site.fay_twitter %}
  <li><a href="{{ site.fay_twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.fay_instagram %}
  <li><a href="{{ site.fay_instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.fay_tiktok %}
  <li><a href="{{ site.fay_tiktok }}" target="_blank"><i class="fa fa-tiktok" aria-hidden="true"></i></a></li>
  {% endif %}

  <!-- May Social Media -->
  <li class="social_group"><strong>May:</strong></li>
  {% if site.may_twitter %}
  <li><a href="{{ site.may_twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.may_instagram %}
  <li><a href="{{ site.may_instagram }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.may_tiktok %}
  <li><a href="{{ site.may_tiktok }}" target="_blank"><i class="fa fa-tiktok" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>
